@using BrokenLinkChecker.Models.Links
@rendermode InteractiveServer

<h3>Broken Links:</h3>

@if (BrokenLinks.Count > 0)
{
    <RadzenDataGrid Data="@BrokenLinks.AsQueryable()" AllowSorting="true" AllowPaging="true" PageSize="20">
        <RadzenDataGridColumn Property="@nameof(IndexedLink.Target)" Sortable="true"/>
        <RadzenDataGridColumn Property="@nameof(IndexedLink.ReferringPage)"Title="Referring Page" Sortable="true">
            <Template Context="indexedLink">
                <RadzenLink href="@indexedLink.ReferringPage" target="_blank">@indexedLink.ReferringPage</RadzenLink>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(IndexedLink.AnchorText)" Title="Anchor Text" Sortable="true"/>
        <RadzenDataGridColumn Property="@nameof(IndexedLink.Line)"/>
        <RadzenDataGridColumn Property="@nameof(IndexedLink.StatusCode)" Title="Status Code" Sortable="true"/>
    </RadzenDataGrid>
}

@code {
    [Parameter]
    public ICollection<IndexedLink> BrokenLinks { get; set; }
}