@using BrokenLinkChecker.Models.Headers
<div class="cache-card" @onclick="Toggle">
    <p><b>Status:</b> @Cache.CacheStatus</p>

    @if (!_collapsed)
    {
        <p><b>Age:</b> @Cache.Age</p>
        <p><b>Cache Control:</b> @Cache.CacheControl</p>

        @foreach (var cacheHeader in Cache.CacheHeaders)
        {
            <p><b>@cacheHeader.Key:</b> @cacheHeader.Value</p>
        }
    }
</div>

@code {
    [Parameter] 
    public required Cache Cache { get; set; }

    private bool _collapsed = true;

    private void Toggle()
    {
        _collapsed = !_collapsed;
    }

}