@using BrokenLinkChecker.models
@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveServer

<h3>Broken Links:</h3>

@if (BrokenLinks.Count > 0)
{
    <QuickGrid Items="@BrokenLinks.AsQueryable()" Pagination="pagination">
        <PropertyColumn Property="@(link => link.Url)" Sortable="true"/>
        <TemplateColumn Title="Referring Page" Sortable="true">
            <a href="@context.ReferringPage" target="_blank">@context.ReferringPage</a>
        </TemplateColumn>
        <PropertyColumn Property="@(link => link.AnchorText)" Title="Anchor Text" Sortable="true"/>
        <PropertyColumn Property="@(link => link.Line)"/>
        <PropertyColumn Property="@(link => link.StatusCode)" Title="Status Code" Sortable="true"/>
    </QuickGrid>
    
    <Paginator State="pagination" />
}

@code {
    [Parameter] 
    public ICollection<BrokenLink> BrokenLinks { get; set; }

    PaginationState pagination = new () { ItemsPerPage = 20 };
}