@using BrokenLinkChecker.models
@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveServer

<h3>Broken Links:</h3>

@if (BrokenLinks.Count > 0)
{
    <QuickGrid Items="@BrokenLinks.AsQueryable()">
        <PropertyColumn Property="@(link => link.Url)" Sortable="true"/>
        <PropertyColumn Property="@(link => link.ReferringPage)" Sortable="true"/>
        <PropertyColumn Property="@(link => link.AnchorText)" Sortable="true"/>
        <PropertyColumn Property="@(link => link.Line)" Sortable="true"/>
        <PropertyColumn Property="@(link => link.StatusCode)" Sortable="true"/>
    </QuickGrid>
}

@code {
    [Parameter] 
    public ICollection<BrokenLink> BrokenLinks { get; set; }
}